<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myssm.mapper.TbDictMapper">
  <resultMap id="BaseResultMap" type="com.myssm.bean.TbDict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dict_id" jdbcType="INTEGER" property="dictId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="meta_name" jdbcType="VARCHAR" property="metaName" />
    <result column="meta_val" jdbcType="VARCHAR" property="metaVal" />
  </resultMap>
</mapper>