<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myssm.mapper.TbQuestionCategoryMapper">
  <resultMap id="BaseResultMap" type="com.myssm.bean.TbQuestionCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="desction" jdbcType="LONGVARCHAR" property="desction" />
  </resultMap>
</mapper>