<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myssm.mapper.TbInformationCategoryMapper">
  <resultMap id="BaseResultMap" type="com.myssm.bean.TbInformationCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_description" jdbcType="VARCHAR" property="categoryDescription" />
  </resultMap>
  <select id="getInformationCategoryName" parameterType="int" resultType="java.lang.String">
  select category_name from tb_information_category where category_id=#{CategoryId}
  </select>
</mapper>